@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/*----RESET STYLING----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font);
}

/*---CSS VARIABLES----*/
:root {
    --inputColor: #dcdde17c;
    --bodyBackgroundColor: #F2F2F4;
    --deepBlue:#0E4AA1;
    --font: 'Rubik', sans-serif;

}

body {
    background-color: var(--bodyBackgroundColor);
}

@media screen and (min-width:1031px) {
    .flexbox {
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .remove-outline {
        background:none;
        outline: none;
        border:0;
    }
    
    /*----THIS IS THE HEADER----*/
    header {
        width:100%;
        height:10vh;
        background-color: var(--deepBlue);
    }
    
    header .logo {
        color: #ffffff;
        margin-left:-10%;
        font-weight: 900;
    }
    
    .logo span {
        font-size:.7rem;
    }
    
    .search-box {
        width:500px;
        height:30px;
        justify-content: flex-start;
        padding:0 20px;
        background-color:#2b2b2b42;
        background-color:#889AB6;
        margin-left:-20%;
    }
    
    .search-box input[type="text"] {
        width:100%;
        height:100%;
        color:gainsboro;
    }
    
    .search::placeholder {
        color:#F2F2F4;
    }
    
    .input-text::placeholder {
        color:gray;
    }
    
    .search-box i {
        color:gainsboro;
    }
    
    .btns-wrapper {
        margin-right:-10%;
    }
    
    .btns-wrapper .button {
        width:150px;
        height:30px;
        border:2px solid gainsboro;
        margin-right:20px;
        color:#ffffff;
    }
    
    .btns-wrapper .button:nth-child(2) {
        background-color:#26de81;
        border:0;
    }
    /*------END OF HEADER----*/
    
    /*-----THIS IS THE MAIN CONTENT------*/
    main {
        width:80%;
        margin:20px auto;
        height:600px;
        position:relative;
    }
    
    main .booking-box {
        justify-content: flex-start;
        align-items: flex-start;
        margin:0 auto;
    }
    
    .arrow {
        position:absolute;
        left:-7%;
    }
    
    .booking p {
        margin-top:15px;
        font-size:.7rem;
        color:gray;
    }
    
    .main-box {
        width:100%;
        height:250px;
        background-color:#ffffff;
        margin:20px 0;
    }
    
    main .main-box:nth-child(1),  main .main-box:nth-child(2){
        justify-content: center;
    }
    
    .container-1 {
        width:90%;
        height:70%;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .adjustment {
        justify-content: space-around;
    }
    
    
    .button-container {
        width:100%;
        justify-content: space-between;
    }
    
    .button-container .button-2 {
        width:23%;
        height:80px;
        border:2px solid grey;
    }
    
    .button-container .button-2:nth-child(1) {
        background-color: var(--deepBlue);
        border:0;
        color:#ffffff;
    }
    
    .button-container .button-2:nth-child(1) i {
        transform: rotate(-90deg);
        font-size:3rem;
        margin-right:-26%;
        margin-bottom:-21%;
    }
    
    .button-container .button-2:nth-child(2) i, .button-container .button-2:nth-child(4) i {
        font-size:3rem;
        margin-right:-16%;
        margin-bottom:-16%;
        color:#57606f;
    }
    
    .button-container .alignment{
        flex-direction: column;
        align-items: flex-start;
    }
    
    .button-container .button-2:nth-child(3) i {
        font-size:3rem;
        margin-right:-13%;
        margin-bottom:-16%;
        color:#57606f;
    }
    
    .button-container .button-2:nth-child(4) i {
        margin-right:-20%;
    }
    
    .input-box {
        width:350px;
        height:30px;
        background-color:gainsboro; 
        padding:0 10px;
    }
    
    .input-box i {
        margin-right:5px;
    }
    
    .input-box input[type="text"] {
        width:100%;
        height:100%;
        background-color: var(--inputColor);
    }
    
    .date-box {
        width:100%;
        height:100%;
        display:flex;
        justify-content: space-between;
        margin-top:50px;
    }
    
    .date {
        width:300px;
        height:30px;
        display:flex;
        align-items: center;
        background-color:var(--inputColor);
    }
    
    .calender i {
        margin-left:10px;
    }
    
    .date input[type="text"] {
        height:100%;
        padding:0px 20px;
    }
    
    .select-box {
        width:300px;
        height:30px;
        display: flex;
        align-items: center;
        position:relative;
        background-color: var(--inputColor);
    }
    
    .date-box .select-box select {
        width:300px;
        height:30px;
        background-color: var(--inputColor);
        padding:0px 10px;
        color:gray;
        border:2px solid var(--inputColor);
    }
    
    
    .container1-box {
        justify-content: space-between;
        margin:10px 0;
    }
    
    .btn-3 {
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn-3 div {
        width:60px;
        height:40px;
        border:1px solid gray;
    }
    
    .btn-3 div button {
        width:100%;
        height:100%;
        cursor:pointer;
    }
    
     .shape {
        width:15px;
        height:15px;
        border-radius:50%;
        border:2px solid #000000;
        justify-content:center;
    }
    
    .shape p {
        font-size: .6rem;
        font-weight: 900;
    }
    
    .details-box {
        justify-content: space-between;
    }
    
    .dangerous-cargo-btn {
        width:30%;
        justify-content: space-between;
    }
    
    input[type="checkbox"] {
        -webkit-appearance:none;
        outline:none;
        width:32px;
        height:20px;
        border-radius:10px;
        background-color:gainsboro;
        cursor: pointer;
        position:relative;
        display:flex;
        align-items: center;
        justify-content: flex-start;
        padding-left:2px;
    }
    
    input:checked[type="checkbox"] {
        background-color:var(--deepBlue);
    }
    
    input[type="checkbox"]::before {
        content:'';
        width:14px;
        height:14px;
        background-color:#ffffff;
        border-radius:50%;
        position:absolute;
        transition:.5s;
    }
    
    input:checked[type="checkbox"]::before {
        transform:translateX(13px);
    }
    
    .toggle {
        margin-left:16px;
    }
    
    .dangerous-cargo-btn p {
        font-size: .8rem;
    }
    
    .dangerous-cargo-btn p span {
        font-weight: 900;
    }
    
    .dimensions {
        margin:40px 0px;
        width:300px;
        height:30px;
        padding:0px 10px;
        background-color:var(--inputColor);
        border-radius:5px;
    }
    
    .dimensions p {
        font-size: .8rem;
        font-weight: 900;
        display: inline;
        color:gray;
    }
    
    .dimensions p:nth-child(1) {
        border:2px solid #ffffff;
        padding:3px 20px;
        background-color: #ffffff;
        color:#1e3799;
        border-radius:5px;
        margin-left:-25px;
    }
    
    
    .weight-box {
        width:300px;
    }
    
    .weight-box-input {
        width:150px;
        height:45px;
        border:2px solid #7c827d63;
        position:relative;
    }
    
    .weight-box-input label {
        font-weight:bold;
        font-size: .8rem;
        position:absolute;
        top:-18%;
        right:35%;
        background-color: #ffffff;
        padding:0px 4px;
    }
    
    .weight-box-input p{
        font-size:.7rem;
        margin-right:10px;
        color:gray;
    }
    
    .weight-box-input input[type="text"] {
        width:100%;
        height:100%;
    }
    
    .volume {
        margin-right:20px;
    }
    
    .services-wrapper {
        width:100%;
        height:100%;
        display:flex;
        margin-top:20px;
    }
    
    .services-box1 {
        width:50%;
        height:91%;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .text-box {
        display:flex;
    }
    
    .text-box-mini {
        margin:0px 30px;
    }
    
    .text-box-mini p {
        font-size:.7rem;
        color:gray;
        margin:10px 0px;
    }
    
    section {
        display:none;
    }
}



/*----For smaller screens----*/
@media screen and (max-width:1030px) {
    .header, main {
        display:none;
    }

    section {
        width:100%;
        height:100vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section a {
        color:var(--deepBlue);
        font-weight:900;
        font-size: 2rem;
    }

    section a span {
        font-size:1.2rem;
    }

    section p {
        margin-top:20px;
        font-weight:900;
        font-style: italic;
        color:crimson;
    }
}






